<div class="card__item">
  <div class="card__img">
    <a href="/games/<%= games.id %>">
      <img src="<%= games.coverImage %>" alt="" />
    </a>
  </div>
  <div class="card__content">
    <div class="card__title"><%= games.name %></div>
  </div>
</div>
