.main-form-create {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #fff;
  font-size: 0.9rem;
}

.form-create {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: auto;
  border-top: 2px solid #d10431;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  margin: 2rem auto;
  margin-bottom: 35px;
  padding: 20px;
  box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%),
    0 0.9375rem 1.40625rem rgb(90 97 105 / 10%),
    0 0.25rem 0.53125rem rgb(90 97 105 / 12%),
    0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
}
.form-create-title {
  font-size: 1.5rem;
}
.form-create div {
  margin: 7px 0px;
}
.form-create div input {
  width: 95%;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 10px;
  padding: 15px 0px 15px 15px;
}
.form-create input[type="radio"] {
  display: none;
}
.form-create .category label {
  background: #3030cc;
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  padding: 8px 18px;
  border: 0;
  display: inline-block;
  margin: 5px 0px;
}
.form-create input[type="radio"]:checked + label {
  background-color: rgb(223, 52, 117);
}
.form-create .category,
.platform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.form-create .platform label {
  background: #350c83;
  border-radius: 999px;
  color: #fff;
  cursor: pointer;
  padding: 8px 18px;
  border: 0;
  display: inline-block;
  margin: 5px 0px;
}
.form-create button {
  background-color: black;
  color: white;
  width: 30%;
  height: 30px;
}
.form-create button:hover {
  background-color: var(--red);
}
.create-form-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* MEDIA QUERY*/
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1200px) {
  .form-create {
    width: 40vw;
  }
}
