<div class="navbar-products">
  <div><input type="search" /><button>Search</button></div>
  <div>
    <a href="/products/create"><button>Create New Product</button></a>
  </div>
</div>
<div>
  <p>Products List</p>
</div>
<div class="cards__container">
  <% games.forEach(function(games){ %> <%- include('./productsCard', {games}) %>
  <% }); %>
</div>
