<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('partials/head') -%>
        <link rel="stylesheet" href="./css/index.css" type="text/css" />
</head>

<body class="body__index">
    <%- include('partials/header') -%>

        <main class="main__index">
            <h1>404 UPS!</h1>
        </main>
        <%- include('partials/footer') -%>
</body>

</html>