/* START FOOTER */
.footer-container {
  background: url(../img/bg-footer3.webp);
  background-size: cover;
  padding: 15px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}
.payment__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 25px auto;
  padding-bottom: 40px;
  border-bottom: 1px solid #999fa6;
}
.payment__content img {
  height: 17px;
}
.footer__main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
}
.footer__block {
  flex: 50%;
}
.footer__link {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
  line-height: 2;
  padding: 0;
}
.footer__link li a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 1rem;
}
/* ENDS FOOTER */

/* MEDIA QUERY*/
@media screen and (min-width: 768px) {
  .footer-container {
    padding-bottom: 15px;
    margin-bottom: 0;
  }
  .payment__content img {
    height: auto;
  }
  .footer__block {
    flex: 0 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .payment__content {
    width: 80%;
  }
  .footer__main {
    width: 80%;
    justify-content: space-around;
  }
}
