/* START FOOTER */
.footer {
  background: url(../img/bg-footer3.webp);
  padding: 15px;
}
.footer__main {
  display: flex;
  justify-content: space-around;
}
/* ENDS FOOTER */

/* MEDIA QUERY*/
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
