/* START MAIN INDEX */
.body__index {
  background-color: #e6e8ea;
}
.main__index {
  width: 100vw;
  height: auto;
  margin: auto;
  background-color: #e6e8ea; /*#002650*/
}

/* START SLIDER INDEX */
.index__slider {
  width: 100vw;
  height: auto;
}
.index__slider img {
  object-fit: cover;
  width: 100vw;
  height: auto;
}
/* ENDS SLIDER INDEX */

/* BEST SELLER CONTENT */
.bestseller__wrapper {
  padding: 1rem;
}
.bestseller__title {
  font-size: 1.5rem;
  color: #0e86ca;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 44px;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}
.title:before {
  content: "";
  position: absolute;
  width: 62px;
  height: 3px;
  background: #0e86ca;
  bottom: 0;
  left: 0;
}
/* START CARDS */
.cards__container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  gap: 10px;
  align-items: center;
}
.card__item {
  width: 60vw;
  height: auto;
  color: black;
  background: #fff;
}
.card__img {
  height: 300px;
}
.card__img img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  object-position: center center;
}
.card__content {
  height: auto;
}
.card__title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
/* ENDS CARDS */

/* START SERVICES */
.services {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 10px;
  margin: 25px 0;
}
.services__card {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  padding-bottom: 42px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.34);

  transform: translate(0px, 0px);
  transition: all 0.25s ease;
}
.services__card:hover {
  transform: translate(7px, 15px);
}
.services__info {
  text-align: center;
}
.services__icon {
  width: auto;
  margin: auto;
}
.services__icon img {
  width: auto;
  margin: 0 auto;
}
/* ENDS SERVICES */

/* ENDS MAIN INDEX */

/* MEDIA QUERY*/
@media screen and (min-width: 768px) {
  /* START MAIN INDEX */
  .main__index {
    width: 100vw;
  }
  .bestseller__title {
    font-size: 1.3rem;
    text-align: left;
  }
  .cards__container {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  .card__item {
    height: 280px;
  }
  .card__img {
    height: 210px;
  }
  .card__item img {
    height: 100%;
  }
  .card__title {
    font-size: 1rem;
  }
  /* END MAIN INDEX */
}
@media screen and (min-width: 1200px) {
  /* START SLIDER INDEX */
  .index__slider {
    width: 100%;
    height: 800px;
  }
  .index__slider img {
    width: 100%;
    height: 800px;
  }
  /* ENDS SLIDER INDEX */
  /* START MAIN INDEX */
  .main__index {
    width: 80vw;
    height: auto;
    margin: auto;
  }
  .bestseller__wrapper {
    padding: 2rem;
  }
  .bestseller__title {
    font-size: 1.6rem;
  }

  .card__item {
    height: 360px;
    transition: 0.5s ease;
  }
  /* HOVER EFFECT IMG*/
  .card__item:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
  /* ENDS HOVER EFFECT IMG*/

  .card__img {
    height: 300px;
  }
  .card__title {
    font-size: 1.1rem;
  }
  /* END MAIN INDEX */
}
