/* START MAIN INDEX */
.body__index {
  background-color: #e6e8ea;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main__index {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #e6e8ea; /*#002650*/
}

/* START SLIDER INDEX */
.flickity-viewport {
  height: 125px !important;
}
.flickity-prev-next-button {
  width: 25px;
  height: 25px;
}
.carousel-cell {
  width: 100%;
  height: auto;
}
.carousel-cell img {
  width: 100%;
}
/* ENDS SLIDER INDEX */

/* GAME LIST CONTENT */
.gameList__wrapper {
  padding: 1rem;
}
.gameList__title {
  font-size: 1.5rem;
  color: #0e86ca;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 2;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}
.gameList__span__title:before {
  content: "";
  position: absolute;
  width: 62px;
  height: 3px;
  background: #0e86ca;
  bottom: 0;
  left: 0;
}
/* START CARDS */
.cards__container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  gap: 10px;
  align-items: center;
  position: relative;
}
.card__item {
  width: 60%;
  height: auto;
  color: black;
  background: #fff;
  flex: 0 0 25%;
}
.card__img {
  height: 300px;
}
.card__img img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  object-position: center center;
}
.card__content {
  height: auto;
}
.card__title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
/* ENDS CARDS */

/* START SERVICES */
.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin: 25px 0;
}
.services__card {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  padding-bottom: 30px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.34);
  transform: translate(0px, 0px);
  transition: all 0.25s ease;
}
.services__info {
  text-align: center;
  margin-bottom: 30px;
}
.services__icon {
  width: auto;
  margin: 0 auto;
}
.services__icon img {
  width: auto;
  margin: 0 auto;
}
/* ENDS SERVICES */

/* ENDS MAIN INDEX */

/* START GAME DETAILS */
.main__game__details {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #e6e8ea; /*#002650*/
}
.detail__background {
  width: 100%;
}
.detail__background img {
  width: 100%;
  margin-top: -75px;
}
.detail__content {
  width: 90%;
  background-color: #fff;
  box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  position: relative;
  padding: 2rem;
  margin: auto;
  height: auto;
  top: -290px;
}
.detail__images {
  flex: 0 0 40%;
}
.detail__img {
  width: 100%;
}
.detail__images__carousel {
  display: flex;
  gap: 3px;
  margin-top: 15px;
}
.detail__miniImages {
  width: 30%;
}
.detail__details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 0 0 40%;
}
.detail__platform {
  font-size: 1.5rem;
}
.detail__title {
  font-size: 2.5em;
  font-weight: bold;
}
.detail__sale {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 20%;
}
.detail__icons {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.5rem;
}
.detail__metacritic {
  background: green;
  padding: 6px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.detail__metacritic svg {
  padding: 0.3rem;
  border-radius: 2rem;
  height: 1rem;
  width: 1rem;
  border: 0.1rem solid rgb(255, 255, 255);
}
.metacritic__score {
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
  padding-left: 5px;
}
.favourite__icon {
  color: #b91717;
}
.detail__rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stars__rating {
  --percent: calc(var(--rating) / 5 * 100%);
  display: inline-block;
  font-size: 1.5rem;
  font-family: Times;
  line-height: 1;
}
.stars__rating::before {
  content: "★★★★★";
  letter-spacing: 3px;
  background: linear-gradient(
    90deg,
    #fc0 var(--percent),
    #6d6c6c var(--percent)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.detail__price {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
}
.detail__button {
  display: flex;
  width: 100%;
  justify-content: center;
}
.button__addcart {
  background-color: #0c4591;
  border-color: transparent;
  border-radius: 10px;
  font-size: 1.3rem;
  color: #fff;
  width: 80%;
  padding: 15px;
  box-shadow: 0 2px 6px #1f4d8a;
}
.secure__icons {
  color: #619744;
}
.secure__details {
  font-size: 0.8rem;
  text-decoration: none;
  color: #0c4591;
}

.main__detail__section {
  width: 80%;
}
/* END GAME DETAILS */

/* MEDIA QUERY*/
@media screen and (min-width: 768px) {
  /* START SLIDER INDEX */
  .flickity-viewport {
    height: 257px !important;
  }
  .flickity-prev-next-button {
    width: 40px;
    height: 40px;
  }
  .carousel-cell {
    height: 257px;
  }
  /* ENDS SLIDER INDEX */
  /* START MAIN INDEX */
  .main__index {
    width: 100%;
  }
  .gameList__title {
    font-size: 1.3rem;
    text-align: left;
  }
  .cards__container {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  .card__item {
    height: 280px;
  }
  .card__img {
    height: 210px;
  }
  .card__item img {
    height: 100%;
  }
  .card__title {
    font-size: 1rem;
  }
  .services {
    justify-content: center;
    flex-flow: row wrap;
    gap: 10px;
  }
  .services__card {
    flex: 0 33%;
    padding-bottom: 45px;
  }
  /* END MAIN INDEX */
}
@media screen and (min-width: 1200px) {
  /* START SLIDER INDEX */
  .flickity-viewport {
    height: 615px !important;
  }
  .carousel-cell {
    width: 100%;
    height: 615px;
  }
  /* ENDS SLIDER INDEX */
  /* START MAIN INDEX */
  .main__index {
    width: 80%;
    height: auto;
    margin: auto;
  }
  .gameList__wrapper {
    padding: 2rem;
  }
  .gameList__title {
    font-size: 1.6rem;
  }

  .card__item {
    height: 360px;
    transition: 0.5s ease;
  }
  /* HOVER EFFECT IMG*/
  .card__item:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
  }
  /* ENDS HOVER EFFECT IMG*/
  .card__img {
    height: 300px;
  }
  .card__title {
    font-size: 1.1rem;
  }

  .services {
    justify-content: space-between;
    flex-flow: row nowrap;
  }
  .services__card:hover {
    transform: translate(7px, 15px);
  }
  /* END MAIN INDEX */

  /* TOOLTIPS */
  .tooltiptext {
    visibility: hidden;
    font-size: 1.1rem;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: -3px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .favourite__icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .share__icon:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
