/* HEADER NAV BAR */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 11;
}

.navbar__container {
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #999fa6;
  padding: 14px 0 6px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav__categories {
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  list-style: none;
}
.main-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav-links {
  text-decoration: none;
  color: var(--fontcolor);
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  padding: 0 10px;
}

.main-nav li a {
  font-size: 16px;
  font-weight: bold;
}

#chkToggle {
  display: none;
}

#chkToggle:checked + ul.main-nav {
  display: block;
}

#touch {
  position: absolute;
  opacity: 0;
  height: 0px;
}

#touch:checked + .slide {
  height: 300px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .navbar {
    max-width: 1320px;
  }
}
