:root {
  --whiteC: #fff;
  --blueC: #0e86ca;
}
/* HEADER NAV BAR */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 11;
}

.navbar__container {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid #999fa6;
  margin: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  display: flex;
}

.nav__categories {
  margin: 0;
  padding: 0;
}

.nav__categories__links {
  padding: 0 15px;
  color: var(--whiteC);
  font-size: 1.1rem;
  font-weight: 600;
  display: block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav__categories__links:hover {
  color: var(--blueC);
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.navbar__main {
  margin: 0;
  padding: 0;
}

.main__nav {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.nav__links {
  text-decoration: none;
  color: var(--whiteC);
  font-size: 1.1rem;
  font-weight: 400;
  display: block;
  position: relative;
}

.main__nav li {
  text-align: center;
  padding: 0 10px;
}
.main__nav li:hover {
  color: var(--blueC);
}
.link__span {
  padding-left: 7px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .navbar {
    max-width: 1320px;
  }
}
