:root {
  --whiteC: #fff;
  --blueC: #0e86ca;
}
/* HEADER NAV BAR */
.navbar-header {
  position: sticky;
  top: 0;
  z-index: 12;
  background-color: rgb(0, 38, 80);
  border-bottom: 1px solid #999fa6;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  width: 100%;
}
.navbar__logo {
  order: 1;
}
.nav__categories {
  margin: 0;
  padding: 0;
  order: 4;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
.nav__categories__links {
  padding: 0 15px;
  color: var(--whiteC);
  font-size: 1.1rem;
  font-weight: 600;
  display: block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav__categories__links:hover {
  color: var(--blueC);
}
.search {
  order: 2;
}
.search__input {
  padding: 0.3rem;
  font-size: 1.1rem;
  line-height: 1.2;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
}
.search__button {
  background: none;
  border: none;
  width: 30px;
  color: #fff;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.search__button:hover {
  color: var(--blueC);
}
.main__nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  order: 3;
}
.nav__links {
  text-decoration: none;
  color: var(--whiteC);
  font-size: 1.1rem;
  font-weight: 400;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
.nav__links:hover {
  color: var(--blueC);
}
.main__nav li {
  text-align: center;
  padding: 0 10px;
}
.main__nav li:hover {
  color: var(--blueC);
}
.link__span {
  padding-left: 7px;
}
/* NAVBAR MOBILE */
.navbar__mobile {
  background: var(--whiteC);
  box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.navM__items {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  width: 100%;
}
.navM__links {
  font-size: 1.3rem;
  color: #495057;
  padding: 10px 30px;
}
/* ENDS NAVBAR MOBILE */
/* SIDEBAR MOBILE */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: ease 0.3s;
  padding-top: 60px;
}
.sidebar__link {
  padding: 15px 8px 5px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
  display: block;
  transition: ease 0.3s;
}
.sidebar__link:hover {
  color: #f1f1f1;
}
.sidebar__img {
  padding: 13px;
}
.sidebar .closebtn {
  position: absolute;
  top: 10px;
  font-size: 2rem;
  left: 10px;
  color: #fff;
}
/* ENDS SIDEBAR MOBILE */
/* MEDIA QUERY*/
@media screen and (max-width: 550px) {
  .navbar {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navbar__mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    flex-flow: row nowrap;
    width: 80%;
  }
  .navbar__logo {
    order: 1;
  }
  .nav__categories {
    order: 2;
  }
  .search {
    order: 3;
  }
  .main__nav {
    order: 4;
  }
}
