:root {
  --whiteC: #fff;
  --blueC: #0e86ca;
}
/* HEADER NAV BAR */
header {
  position: sticky;
  top: 0;
  z-index: 12;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  background-color: rgb(0, 38, 80);
  border-bottom: 1px solid #999fa6;
  padding-right: 15px;
  padding-left: 15px;
}
.navbar__logo {
  order: 1;
}
.nav__categories {
  margin: 0;
  padding: 0;
  order: 4;
}
.nav__ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
.nav__categories__links {
  padding: 0 15px;
  color: var(--whiteC);
  font-size: 1.1rem;
  font-weight: 600;
  display: block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav__categories__links:hover {
  color: var(--blueC);
}
.search {
  order: 2;
}
.search__input {
  padding: 0.3rem;
  font-size: 1rem;
  line-height: 1.2;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 10px;
}
.main__nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  order: 3;
}
.nav__links {
  text-decoration: none;
  color: var(--whiteC);
  font-size: 1.1rem;
  font-weight: 400;
  display: block;
  position: relative;
}
.main__nav li {
  text-align: center;
  padding: 0 10px;
}
.main__nav li:hover {
  color: var(--blueC);
}
.link__span {
  padding-left: 7px;
}
/* NAVBAR MOBILE */
.navbar__mobile {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
}
.navM__items {
}
.navM__links {
}
/* ENDS NAVBAR MOBILE */
/* SIDEBAR MOBILE */
.sidebar {
  width: 0px;
}
/* ENDS SIDEBAR MOBILE */
/* MEDIA QUERY*/
@media screen and (max-width: 550px) {
  .navbar {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navbar__mobile {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    flex-flow: row nowrap;
  }
  .navbar__logo {
    order: 1;
  }
  .nav__categories {
    order: 2;
  }
  .search {
    order: 3;
  }
  .main__nav {
    order: 4;
  }
}
