<footer class="footer-container">
  <div class="payment__content">
    <img src="/img/visa.webp" alt="visa" />
    <img src="/img/mastercard.webp" alt="mastercard" />
    <img src="/img/american.webp" alt="american express" />
    <img src="/img/paypal.webp" alt="paypal" />
    <img src="/img/paysafecard.webp" alt="paysafecard " />
  </div>

  <div class="footer__main">
    <div class="footer__block">
      <h3 class="">Help</h3>

      <ul class="footer__link">
        <li>
          <a href="#">Product Support</a>
        </li>

        <li>
          <a href="#">Stay Safe</a>
        </li>

        <li>
          <a href="#">Terms & Conditions</a>
        </li>

        <li>
          <a href="#">Privacy & Cookies</a>
        </li>

        <li>
          <a href="#">Returns & Refunds</a>
        </li>
      </ul>
    </div>

    <div class="footer__block">
      <h3 class="">Support</h3>

      <ul class="footer__link">
        <li>
          <a href="#">Product Support</a>
        </li>

        <li>
          <a href="#">PC Setup</a>
        </li>

        <li>
          <a href="#">Service Plan</a>
        </li>

        <li>
          <a href="#">Extended Service Plan</a>
        </li>

        <li>
          <a href="#">Community</a>
        </li>
      </ul>
    </div>

    <div class="footer__block">
      <h3 class="">Store</h3>

      <ul class="footer__link">
        <li>
          <a href="/pages/contact-us">Contact us</a>
        </li>

        <li>
          <a href="/pages/about-us">About Us</a>
        </li>

        <li>
          <a href="/pages/faqs">Faqs</a>
        </li>

        <li>
          <a href="/pages/services">Services</a>
        </li>

        <li>
          <a href="/pages/support-24-7-page">Support 24/7 Page</a>
        </li>
      </ul>
    </div>

    <div class="footer__block">
      <h3 class="">Contact Us</h3>
      <ul class="footer__link">
        <li class="address">
          <a href="#">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <span>Address</span>
          </a>
        </li>

        <li class="call-mail">
          <a href="mailto:contact@gameshop.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span> Email Us</span>
          </a>
        </li>

        <li class="call-phone">
          <a href="tel:+148415231">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <span>Phone 1</span>
          </a>
        </li>

        <li class="call-phone">
          <a href="tel:+148415232">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <span>Phone 2</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>