<footer class="footer">
  <div class="payment__content">
    <img src="./img/visa.webp" alt="visa" />
    <img src="./img/mastercard.webp" alt="mastercard" />
    <img src="./img/american.webp" alt="american express" />
    <img src="./img/paypal.webp" alt="paypal" />
    <img src="./img/paysafecard.webp" alt="paysafecard " />
  </div>

  <div class="footer__main">
    <div class="collapsed-block footer-block">
      <h3 class="footer-block-title">
        help<span class="expander"><i class="fa fa-plus"></i></span>
      </h3>

      <ul class="footer-block-content footer-link">
        <li>
          <a href="#">product Support</a>
        </li>

        <li>
          <a href="#">pc Setup &amp; Support </a>
        </li>

        <li>
          <a href="#">services</a>
        </li>

        <li>
          <a href="#">extended Service Plans</a>
        </li>

        <li>
          <a href="#">community</a>
        </li>
      </ul>
    </div>

    <div class="col-lg-3 col-md-6 ft-2">
      <div class="collapsed-block footer-block">
        <h3 class="footer-block-title">
          Your links<span class="expander"><i class="fa fa-plus"></i></span>
        </h3>

        <ul class="footer-block-content footer-link">
          <li>
            <a href="#">shipping guide</a>
          </li>

          <li>
            <a href="#">store location</a>
          </li>

          <li>
            <a href="#">afiliates</a>
          </li>

          <li>
            <a href="#">customer point policy</a>
          </li>

          <li>
            <a href="#">customer point policy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ft-3">
      <div class="collapsed-block footer-block">
        <h3 class="footer-block-title">
          Support<span class="expander"><i class="fa fa-plus"></i></span>
        </h3>

        <ul class="footer-block-content footer-link">
          <li>
            <a href="#">product Support</a>
          </li>

          <li>
            <a href="#">pc Setup &amp; Support </a>
          </li>

          <li>
            <a href="#">services</a>
          </li>

          <li>
            <a href="#">extended Service Plans</a>
          </li>

          <li>
            <a href="#">community</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 ft-3">
      <div class="collapsed-block footer-block">
        <h3 class="footer-block-title">
          store<span class="expander"><i class="fa fa-plus"></i></span>
        </h3>

        <ul class="footer-block-content footer-link">
          <li>
            <a href="/pages/contact-us">Contact us</a>
          </li>

          <li>
            <a href="/pages/about-us">About Us</a>
          </li>

          <li>
            <a href="/pages/faqs">Faqs</a>
          </li>

          <li>
            <a href="/pages/services">Services</a>
          </li>

          <li>
            <a href="/pages/support-24-7-page">Support 24/7 Page</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-top-right col-lg-3 col-md-12">
      <div class="collapsed-block footer-block footer-address">
        <h3 class="footer-block-title">
          location<span class="expander"><i class="fa fa-plus"></i></span>
        </h3>

        <div class="footer-block-content">
          <ul class="links-contact">
            <li class="address">
              <i class="fa fa-map-marker" aria-hidden="true"></i
              ><span
                >Address : No 40 Baria Sreet 133/2 NewYork City, NY, United
                States</span
              >
            </li>
            <li class="call-mail">
              <i class="fa fa-envelope" aria-hidden="true"></i
              ><span>Email : contact@sgame.com</span>
            </li>
            <li class="call-phone">
              <i class="fa fa-mobile" aria-hidden="true"></i
              ><span>Phone 1 : 0123456789<br />Phone 2 : 0123456789</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
