<header class="header">
  <div class="navbar__container">
    <nav class="navbar">
      <div class="navbar__logo">
        <a href="/"><img src="img/logo2_231x.webp" class="" /></a>
      </div>

      <div class="nav__categories">
        <ul class="nav__ul">
          <li>
            <a href="#" class="nav__categories__links"> Categorias </a>
          </li>
          <li>
            <a href="#" class="nav__categories__links"> Pc </a>
          </li>
          <li>
            <a href="#" class="nav__categories__links"> PS4 </a>
          </li>
          <li>
            <a href="#" class="nav__categories__links"> PS5 </a>
          </li>
          <li>
            <a href="#" class="nav__categories__links"> Xbox </a>
          </li>
          <li>
            <a href="#" class="nav__categories__links"> Wii U </a>
          </li>
          <li>
            <a href="#" class="nav__categories__links"> Switch </a>
          </li>
        </ul>
      </div>

      <div class="search">
        <form action="/search" method="POST">
          <input
            class="search-input"
            id="search"
            type="text"
            placeholder="Buscá tu producto"
            submit="search"
          />
          <i class="search-icon fas fa-search"></i>
        </form>
      </div>

      <div class="navbar__main">
        <ul class="main__nav" id="js-menu">
          <li>
            <a href="/login" class="nav__links">
              <i class="far fa-user"><span class="link__span">Login</span></i>
            </a>
          </li>
          <li>
            <a href="/cart" class="nav__links">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
