<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/normalize.css" type="text/css" />
<link rel="stylesheet" href="/css/nav.css" type="text/css" />
<link rel="stylesheet" href="/css/footer.css" type="text/css" />
<link rel="stylesheet" href="/css/index.css" type="text/css" />
<!-- Font Awesome CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
/>
<!-- Flickity CSS -->
<link
  rel="stylesheet"
  href="https://unpkg.com/flickity@2/dist/flickity.min.css"
/>

<title>GameShop</title>
<link rel="icon" href="/img/gameshop.png" type="image/x-icon" />

<!-- Flickity JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<!-- Main JavaScript -->
<script src="/js/main.js"></script>
