<header>
  <nav class="navbar">
    <div class="navbar__logo">
      <a href="/">
        <img src="/img/gameshop.png" alt="gameshop" tabindex="1" />
      </a>
    </div>

    <div class="nav__categories">
      <ul class="nav__ul">
        <li>
          <a href="#" class="nav__categories__links" tabindex="2">
            Categories
          </a>
        </li>
        <li>
          <a
            href="/games/platform/pc"
            class="nav__categories__links"
            tabindex="3"
          >
            Pc
          </a>
        </li>
        <li>
          <a
            href="/games/platform/ps4"
            class="nav__categories__links"
            tabindex="4"
          >
            PS4
          </a>
        </li>
        <li>
          <a
            href="/games/platform/ps5"
            class="nav__categories__links"
            tabindex="5"
          >
            PS5
          </a>
        </li>
        <li>
          <a
            href="/games/platform/xbox"
            class="nav__categories__links"
            tabindex="6"
          >
            Xbox
          </a>
        </li>
        <li>
          <a
            href="/games/platform/wiiu"
            class="nav__categories__links"
            tabindex="7"
          >
            Wii U
          </a>
        </li>
        <li>
          <a
            href="/games/platform/switch"
            class="nav__categories__links"
            tabindex="8"
          >
            Switch
          </a>
        </li>
      </ul>
    </div>

    <div class="search">
      <form action="/search" method="POST">
        <input
          class="search__input"
          id="search"
          type="text"
          placeholder="Search for a game"
          submit="search"
          tabindex="9"
        />
        <button type="submit" tabindex="10">
          <i class="search-icon fas fa-search"></i>
        </button>
      </form>
    </div>

    <ul class="main__nav" id="js-menu">
      <li>
        <a href="/login" class="nav__links" tabindex="11">
          <i class="fas fa-user"><span class="link__span">Login</span></i>
        </a>
      </li>
      <li>
        <a href="/cart" class="nav__links" tabindex="12">
          <i class="fas fa-cart-arrow-down"></i>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="navbar__mobile">
    <ul class="navM__items">
      <li>
        <button class="open__sidebar" onclick="openNav()">
          <i class="fas fa-bars"></i>
        </button>
      </li>
      <li>
        <a href="/search" class="navM__links" tabindex="12">
          <i class="fas fa-search"></i>
        </a>
      </li>
      <li>
        <a href="/login" class="navM__links" tabindex="11">
          <i class="fas fa-user"></i>
        </a>
      </li>
      <li>
        <a href="/cart" class="navM__links" tabindex="12">
          <i class="fas fa-cart-arrow-down"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div id="sidebar" class="sidebar">
    <a class="closebtn" onclick="closeNav()">
      <i class="far fa-times-circle"></i>
    </a>
    <a href="/" class="sidebar__img"
      ><img src="/img/gameshop.png" alt="gameshop"
    /></a>
    <a href="#" class="sidebar__link">Categories</a>
    <a href="/games/platform/pc" class="sidebar__link">PC</a>
    <a href="/games/platform/ps4" class="sidebar__link">PS4</a>
    <a href="/games/platform/ps5" class="sidebar__link">PS5</a>
    <a href="/games/platform/xbox" class="sidebar__link">XBOX</a>
    <a href="/games/platform/wiiu" class="sidebar__link">WiiU</a>
    <a href="/games/platform/switch" class="sidebar__link">SWITCH</a>
  </div>
</header>
