<div class="card__item">
  <div class="card__img">
    <a href="/games/<%= games.id %>">
      <img src="<%= games.backgroundImage %>" alt="" />
    </a>
  </div>
  <div class="card__content">
    <div class="card__title">
      <%= games.name %>
    </div>
    <div>
      <%= games.price %>
    </div>
    <div class="">
      <button class="" type="submit">Add to Cart</button>
    </div>
  </div>
</div>