<section class="services">
  <div class="services__card">
    <div class="services__info">
      <h3>Great Value</h3>
      <span>
        We offer competitive prices on our 100 million plus product range.
      </span>
    </div>
    <div class="services__icon">
      <img src="/img/services/icon1.png" alt="" />
    </div>
  </div>

  <div class="services__card">
    <div class="services__info">
      <h3>Worldwide Delivery</h3>
      <span>
        With sites in 5 languages, we ship to over 200 countries & regions.
      </span>
    </div>
    <div class="services__icon">
      <img src="/img/services/icon2.png" alt="" />
    </div>
  </div>

  <div class="services__card">
    <div class="services__info">
      <h3>Safe Payment</h3>
      <span>
        Pay with the world’s most popular and secure payment methods.
      </span>
    </div>
    <div class="services__icon">
      <img src="/img/services/icon3.png" alt="" />
    </div>
  </div>

  <div class="services__card">
    <div class="services__info">
      <h3>Shop Whith Confidence</h3>
      <span>
        Our Buyer Protection covers your purchase from click to delivery.
      </span>
    </div>
    <div class="services__icon">
      <img src="/img/services/icon4.png" alt="" />
    </div>
  </div>

  <div class="services__card">
    <div class="services__info">
      <h3>24/7 Help Center</h3>
      <span>
        Round-the-clock assistance for a smooth shopping experience.
      </span>
    </div>
    <div class="services__icon">
      <img src="/img/services/icon5.png" alt="" />
    </div>
  </div>
</section>