<div class="main-carousel" data-flickity='{ "contain": true, "autoPlay": 3000, "pageDots": false }'>
  <div class="carousel-cell">
    <img src="/img/slider/slider2.webp" alt="" />
  </div>
  <div class="carousel-cell">
    <img src="/img/slider/slider3.webp" alt="" />
  </div>
  <div class="carousel-cell">
    <img src="/img/slider/slider4.webp" alt="" />
  </div>
</div>