<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/headDashboard') -%>
  </head>

  <body class="body__dash">
    <main class="main__dash">
      <section class="dash__menu">
        <img class="dash__logo" src="/img/gameshop.png" />
        <div class="dash__control">
          <img class="control__img" src="/img/dashboard/maxpower.png" />
          <span class="control__name">Max Power</span>
          <span class="control__title">Administrador</span>
        </div>
        <div class="dash__games__menu">
          <span class="dash__menu__title">Games Menu</span>
          <ul class="dash__games__list">
            <li><a href="/dashboard">List All Games</a></li>
            <li><a href="/dashboard/create">Create a New Game</a></li>
          </ul>

          <span class="dash__menu__title">List Games By Platforms</span>
          <ul class="dash__games__list">
            <li><a href="/dashboard/platform/pc">PC</a></li>
            <li><a href="/dashboard/platform/ps4">PS4</a></li>
            <li><a href="/dashboard/platform/ps5">PS5</a></li>
            <li><a href="/dashboard/platform/xbox">XBOX</a></li>
            <li><a href="/dashboard/platform/wiiu">WII_U</a></li>
            <li><a href="/dashboard/platform/switch">SWITCH</a></li>
          </ul>
        </div>
      </section>
      <section class="dash__content">
        <%- include('../admin/gamesCreate') -%>
      </section>
    </main>
  </body>
</html>
