<section class="dash__content">
  <div>
    <span class="title">All Games</span>
  </div>
  <!-- prettier-ignore -->
  <div class="games__cards__wrapper">
  <% games.forEach(function(games){ %>
  <%- include('../admin/gamesCard', {games}) %>
  <% }); %>
</div>
</section>
