<div>
  <span class="title"><%= games[0].platform %> Games</span>
</div>
<!-- prettier-ignore -->
<div class="games__cards__wrapper">
  <% games.forEach(function(games){ %>
  <%- include('../admin/gamesCard', {games}) %>
  <% }); %>
</div>
