<div class="dash__content__form">
  <form class="dash__form__create" action="/dashboard/update" method="POST">
    <div class="dash__form__title">
      <span>Create a new Game</span>
    </div>
    <div class="dash_div">
      <label for="name">Name:</label>
      <input type="text" name="name" />
    </div>
    <div class="dash_div">
      <label for="description">Description:</label>
      <input type="text" name="description" />
    </div>
    <div class="dash_div">
      <label for="platform">Platform:</label>
      <input type="text" name="platform" />
    </div>
    <div class="dash_div">
      <label for="platform_slug">Platform Slug:</label>
      <input type="text" name="platform_slug" />
    </div>
    <div class="dash_div">
      <label for="released">Released:</label>
      <input type="text" name="released" placeholder="yyy/mm/dd" />
    </div>
    <div class="dash_div">
      <label for="coverImage">Cover Image:</label>
      <input type="text" name="coverImage" />
    </div>
    <div class="dash_div">
      <label for="backgroundImage">Backgorund Image:</label>
      <input type="text" name="backogrundImage" />
    </div>
    <div class="dash_div">
      <label for="rating">Rating:</label>
      <input type="number" name="rating" min="1" max="5" />
    </div>
    <div class="dash_div">
      <label for="metacritic">Metacritic:</label>
      <input type="number" name="metacritic" min="1" max="100" />
    </div>
    <div class="dash_div">
      <label for="esrbRating">Esrb Rating:</label>
      <input type="text" name="esrbRating" />
    </div>
    <div class="dash_div">
      <label for="price">Price:</label>
      <input type="text" name="price" />
    </div>

    <div class="dash_div">
      <button class="button__create" type="submit" value="Create" />Create
      <button class="button__create" type="reset" value="Reset" />Reset
    </div>
  </form>
</div>
