<div class="gs-modal">
    <div class="modal-content">
        <div class="close__modal"><i class="fas fa-times"></i></div>
        <div>
            <i class="fas fa-exclamation-triangle"></i>
        </div>
        <div class="">
            Are you sure you want to delete this game?
            <% games[0].name %>
        </div>

        <div>
            <button class="btn__yep">yes</button>
            <button class="btn__nop">no</button>
        </div>
    </div>
</div>