<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') -%>

  <body>
    <%- include('../partials/header') -%>
      <main class="main__login">
        <div class="card__login">
          <div class="form__title">
            <span>Hi, welcome back! 👋</span>
          </div>
          <div class="erroresLogin">
            <ul>
            </ul>
          </div>
          <% if (locals.errors) { %>
            <% for( let error in errors ) { %>
              <span class="form__errors"><i class="fas fa-exclamation-triangle form__alert"></i>
                <%= errors[error].msg %>
              </span>
              <% } %>
                <% } %>

                  <form class="form__login" action="/user/login" method="post">
                    <div class="email">
                      <label for="email" class="form__label emailValidation">Email</label>
                      <input type="email" name="email" tabindex="13" autofocus />
                    </div>

                    <div class="password">
                      <label for="password" class="label-password form__label passwordValidation">Password</label>
                      <label for="forgot-password" class="forgot-password">
                        <a href="#">Forgot Password?</a></label>
                      <input type="password" name="password" tabindex="14" />
                    </div>

                    <div class="form__remember">
                      <input type="checkbox" id="remember" name="remember" value="remember" tabindex="15" />
                      <label for="remember">Remember me</label>
                    </div>

                    <button type="submit" class="button__login" tabindex="16">
                      Login
                    </button>
                  </form>
                  <div class="form__goreg">
                    <span>Don't have an account?</span>
                    <a href="/user/register" tabindex="17">Create One</a>
                  </div>
        </div>
      </main>
      <%- include('../partials/footer') -%>
        <script src="/js/login.js"></script>
  </body>

</html>