<!DOCTYPE html>
<html lang="en">
<!-- Head Html -->
<%- include('../partials/head') -%>

    <body class="body__index">
        <!-- START Header Content -->
        <%- include('../partials/header') -%>
            <main>
                <h1>USER PROFILE PAGE</h1>

                <div class="profile__card">

                    <div class="profile__header">

                    </div>

                    <div class="profile__content">
                        <img src="" alt="">

                        <div class="profile__list">

                            <ul>
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Favourite list</a></li>
                                <li><a href="#">Purcheased</a></li>
                            </ul>

                        </div>

                    </div>

                </div>

                <!-- START Services Content -->
                <%- include('../partials/services-section') -%>
            </main>
            <!-- START Footer Content -->
            <%- include('../partials/footer') -%>
    </body>

</html>