<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="./css/register.css" type="text/css" />
  </head>

  <body>
    <%- include('../partials/header') -%>
    <main class="main__register">
      <div class="card__register">
        <div class="form__title"><span>Register</span></div>
        <form class="form__register" action="/register" method="post">
          <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" />
          </div>
          <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" />
          </div>
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" />
          </div>
          <div>
            <label for="password1">Repeat Password</label>
            <input type="password" name="password1" />
          </div>
          <div class="form__terms">
            <input type="checkbox" name="terms" />
            <label for="terms">I agree with the terms and conditions</label>
          </div>

          <button type="submit" class="button__register">Register</button>
        </form>
        <div class="form__login">
          Already Registered? <a href="/login">Login</a>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') -%>
  </body>
</html>
